table {
    border-collapse: collapse;
    width: 100%; /* 幅 */
  }
  th, td {
    text-align: center;
    padding: 5px 15px;
    border: solid 1px #a5d1f1;
  }
  th {
    text-align: center;
    background-color: #d0ebfd;
  }